:root {
    background-color: #313338;
}

.MusicJourney--Button {
    background-color: transparent;
    border: none;
}

table--custom {
    background-color: transparent;
    color: white;
}

th {
    padding-right: 10px;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}